<p id="errorMsg" class="mt-3"></p>
<p id="subsItemsMsg" class="mt-3"</p>

<div class="row">
    <div class="col-md-3">
        <h6>
            <label>Create a new subscription:</label>
        </h6>
        <form>
            <div class="form-group">
                <label for="newSubName">Subscription name:</label>
                <input type="text" id="newSubName" name="newSubName" class="form-control" />
            </div>

            <div class="form-group">
                <label for="newSubPrice">Subscription price:</label>
                <input type="number" id="newSubPrice" name="newSubPrice" class="form-control" />
            </div>

            <div class="form-group mt-3">
                <button id="createSubBtn" type="button" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h4>Subscriptions:</h4>
        <ul id="subsList"></ul>

        <p id="monthlySpending" class="mt-3"></p>
    </div>

    <div class="col-md-3">
        <div>
            <label>Add a subscription:</label>
            <form>
                <select id="subSelect" class="form-select"></select>

                <div class="form-group mt-3">
                    <button id="addSubBtn" type="button" class="btn btn-primary">Add Subscription</button>
                </div>
            </form>
            <p id="newSubMsg" class="mt-3"></p>
        </div>
    </div>

</div>